@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';

@import 'tailwindcss/utilities';
.badge-success{
    background: #6362e1;
    padding: 5px;
    color: #ffffff;
    border-radius: 5px;

}
.badge-error{
    background: #e88d4c;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
}
